
@font-face {
    font-family: myFirstFont;
    src: url(3Dumb.ttf);
}

h1{
    font-family: myFirstFont;
    text-align: center;
    padding-top: 10%;
    font-size: 5rem;
}

a{
	font-family: myFirstFont;
    margin: 0 auto;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}